

<h1><%= @account_name %></h1>
<p>Total Balance: $<%= @account.pretty_account_balance %></p>
<hr>

<table>
	<tr>
		<th>Category</th>
		<th>Total Spent</th>
		<th>Avg. Transaction</th>
	</tr>
	<% @account.categories.each do |category, c_info| %>
		<tr>
			<td><%= category %></td>
			<td>$<%= c_info.balance_to_s %></td>
			<td>$<%= c_info.avg_to_s %></td>
		</tr>
	<% end %>
</table>